body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}
body .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body form{
    border-radius: 20px;
    width: 50%;
    padding: 4rem;
    margin: 3rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,94,121,0.9136029411764706) 35%, rgba(0,255,119,1) 100%);
}
form h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,94,121,0.9136029411764706) 35%, rgba(0,255,119,1) 100%);

}
form .result-container{
    text-align: center;

}
form button{
    padding: 1rem 3rem;
    font-size: 30px;
    cursor: pointer;
    border: none;
}
form p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}